.container{
  width:100%;
  height:100%;
  color: #333;
  margin:0;
  padding:0;
}
header {
  text-align: center;
  padding: 6px 0;
  height: 68px;
  .singer-wrap {
    position: relative;
    padding: 0 30px;
    margin-top: 14px;
    border-top: 1px solid white;
    .singer {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 14px;
      padding: 0 2px;
    }
  }
}
.body{
  position: relative;
  width:100%;
  height:calc(100% - 166px);
  overflow: hidden;
  .lyric{
    position: absolute;
    width: 100%;
    text-align: center;
    .lyric-item{
      height:20px;
      line-height: 20px;
      font-size: 16px;
      text-align: center;

    }
  }
}
footer{
  width:100%;
  height:96px;
  .progress-wrap{
    width:100%;
    display: flex;
    justify-content: center;
    line-height: 30rpx;
    .starttime{
      font-size: 28rpx;
    }
    .progress{
      position: relative;
      width:calc(480rpx - 12rpx);
      padding:0 6rpx;
      .progress-line{
        position: absolute;
        left:0;
        top:15rpx;
        width:100%;
        border-bottom:1rpx solid #aaa;
      }
    }
    .endtime{
      font-size: 28rpx;
    }
  }
  .operate{
    display: flex;
    justify-content: center;
    div{
      width:40px;
      height:40px;
    }
    .iconfont{
      font-size: 50rpx;
      color: #999;
    }
  }
}



