$width:750rpx !global;
.container{
  width:100%;
  height:100%;
  color: #333;
  margin:0;
  padding:0;
  background: url('/static/img/musicBg.jpg');
}
header {
  text-align: center;
  padding: 6px 0;
  height: 68px;
  .singer-wrap {
    position: relative;
    padding: 0 30px;
    margin-top: 14px;
    border-top: 1px solid white;
    .singer {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 14px;
      padding: 0 2px;
    }
  }
}
.body{
  position: relative;
  width:100%;
  height:calc(100% - 166px);
  overflow: hidden;
  .lyric{
    position: absolute;
    width: 100%;
    text-align: center;
    transition: top 1s;
    .lyric-item{
      height:20px;
      line-height: 20px;
      font-size: 16px;
      text-align: center;
    }
  }
}
footer{
  width:100%;
  height:96px;
  .progress-wrap{
    width:100%;
    display: flex;
    justify-content: center;
    line-height: 30rpx;
    .starttime{
      font-size: 28rpx;
    }
    .progress{
      position: relative;
      width:calc(480rpx - 12rpx);
      margin:0 6rpx;
      .progress-line{
        position: absolute;
        left:0;
        top:15rpx;
        width:100%;
        border-bottom:1rpx solid #aaa;
        .progress-dot{
          width: 12px;
          height: 12px;
          border-radius: 6px;
          position: absolute;
          top: 0rpx;
          left:0rpx;
          transform: translate(0,-50%);
          background: #5ac6f7;
        }
      }
      .progress-line-play{
        position: absolute;
        left:0;
        top:15rpx;
        width: 0rpx;
        border-bottom:1rpx solid #5ac6f7;
      }
    }
    .endtime{
      font-size: 28rpx;
    }
  }
  .operate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    $operate-width: 110rpx;
    .operate-left{
      width: $operate-width;
    }
    .operate-right{
      width: $operate-width;
    }
    .iconfont{
      font-size: 50rpx;
      color: #fff;
      text-align: center;
    }
    .operate-center{
      display: flex;
      justify-content: center;
      align-items: center;
      width: $width - $operate-width*2;
      div{
        width:40px;
        height:40px;
        border-radius: 20px;
        background: #5ac6f7;
        line-height: 40px;
        margin:0 4px;
      }
      .play{
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background: #5ac6f7;
        line-height: 60px;
      }

    }

  }
}



